services:
  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_KRAFT_CLUSTER_ID=2sZYcQ7XQLuHGOO3Yh3KuQ
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093


      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,PLAINTEXT_INTERNAL://:19092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:19092
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT_INTERNAL
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT

    volumes:
      - kafka-data:/bitnami/kafka

  schema-registry:
    image: ghcr.io/aiven-open/karapace:latest
    container_name: schema-registry
    ports:
      - "8081:8081"
    environment:
      - KARAPACE_BOOTSTRAP_URI=kafka:19092
      - KARAPACE_ADVERTISED_HOSTNAME=schema-registry
      - KARAPACE_HOST=0.0.0.0
      - KARAPACE_PORT=8081
      - KARAPACE_MASTER_ELIGIBILITY=true
      - KARAPACE_COMPATIBILITY=forward
      - KARAPACE_CLIENT_ID=schema-registry
      - KARAPACE_GROUP_ID=schema-registry
      - KARAPACE_TOPIC_NAME=_schemas
    entrypoint:
      - python3
      - -m
      - karapace


volumes:
  kafka-data: